<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="./app/style/stylesheet.css">
</head>
<body>
    <header>
        <h1>{{title}}</h1>
    </header>

    <div class="navbar">
        <a href="http://localhost/">Accueil</a>
        <a href="http://localhost/documentation">Documentation</a>
        <a href="https://github.com/cpe-lyon/4eti-tidal-projet-d3l/archive/refs/heads/main.zip">Téléchargement</a>
        <a href="https://github.com/cpe-lyon/4eti-tidal-projet-d3l">GitHub</a>
    </div>

    <div class="container">
        <h2>{{description}}</h2>
        <div>{{documentation}}</div>
    </div>
</body>
</html>