<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./app/style/stylesheet.css">
    <title>{{title}}</title>
</head>
<body>
    <header>
        <h1>{{title}}</h1>
    </header>

    <div class="container">
        <h2>Présentation de {{title}}</h2>
        <p>Bienvenue sur la page de présentation de {{title}}, un framework PHP flexible et puissant conçu pour vous aider à développer des applications web de haute qualité.</p>

        <h2>Fonctionnalités principales :</h2>
        <ul>
            <li>Gestion des middlewares pour la personnalisation du traitement des requêtes.</li>
            <li>Système de routage flexible pour diriger les requêtes vers les contrôleurs appropriés.</li>
            <li>Middleware de gestion des exceptions pour un meilleur contrôle des erreurs.</li>
            <li>Extensions disponibles pour l'authentification, la sécurité, la validation, etc.</li>
        </ul>

        <h2>Commencez à utiliser {{title}} :</h2>
        <p>Vous pouvez télécharger {{title}} gratuitement sur notre site web. Consultez notre documentation complète pour apprendre à l'utiliser et développer des applications web puissantes.</p>

        <h2>Contribuer au projet :</h2>
        <p>Nous accueillons les contributions de la communauté. Rejoignez notre projet sur GitHub et contribuez à son développement en créant des pull requests, en signalant des problèmes ou en améliorant la documentation.</p>
    </div>
</body>
</html>
