<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./app/style/stylesheet.css">
    <title>{{title}}</title>
</head>
<body>
    <header>
        <h1>{{title}}</h1>
        <p class="apiData">{{weather}}</p>
    </header>

    <div class="navbar">
        <a href="http://localhost/">Accueil</a>
        <a href="http://localhost/documentation">Documentation</a>
        <a href="https://github.com/cpe-lyon/4eti-tidal-projet-d3l/archive/refs/heads/main.zip">Téléchargement</a>
        <a href="https://github.com/cpe-lyon/4eti-tidal-projet-d3l">GitHub</a>
    </div>

    <div class="container">
        <h2>Présentation de {{title}}</h2>
        <p>Bienvenue sur la page de présentation de {{title}}, un framework PHP flexible et puissant conçu pour vous aider à développer des applications web de haute qualité.</p>

        <h2>Fonctionnalités principales :</h2>
        <ul>
            {% for feature in features %}
                <li>{{feature}}</li>
            {% endfor %}
        </ul>

        <h2>Commencez à utiliser {{title}} :</h2>
        <p>Vous pouvez télécharger {{title}} gratuitement sur notre site web. Consultez notre documentation complète pour apprendre à l'utiliser et développer des applications web puissantes.</p>

        <h2>Contribuer au projet :</h2>
        <p>Nous accueillons les contributions de la communauté. Rejoignez notre projet sur GitHub et contribuez à son développement en créant des pull requests, en signalant des problèmes ou en améliorant la documentation.</p>
    </div>
</body>
</html>
